:root {
  --clr-cyan: hsl(179, 62%, 43%);
  --clr-cyan-light: hsl(178, 48%, 52%);
  --clr-bright-yellow: hsl(71, 73%, 54%);
  --clr-light-gray: hsl(204, 43%, 93%);
  --clr-grayish-blue: hsl(218, 22%, 67%);
  --clr-white: #fff;

  --ff: 'Karla', sans-serif;
  --fs: 15px;

  --fw-regular: 400;
  --fw-bold: 700;
}

body {
  display: grid;
  min-height: 100vh;
  place-content: center;
  background-color: var(--clr-light-gray);
  font-family: var(--ff);
  font-weight: var(--fw-regular);
}

h1 {
  font-weight: var(--fw-bold);
  color: var(--clr-cyan);
  font-size: 20px;
  margin-top: 28px;
}

.subtitle-1 {
  font-weight: var(--fw-bold);
  color: var(--clr-bright-yellow);
  font-size: 15px;
  margin-top: 24px;
}

.subtitle-2 {
  font-size: 18px;
  font-weight: var(--fw-bold);
  color: var(--clr-white);
  margin-top: 24px;
}

.subtitle-3 {
  padding: 25px 0;
}

.dollar {
  font-size: 32px;
  color: var(--clr-white);
  font-weight: var(--fw-bold);
}

.dollar span {
  font-size: 16px;
  font-weight: var(--fw-regular);
  opacity: 0.5;
}

.subscribe-text {
  color: var(--clr-white);
  font-size: var(--fs);
}

.container {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  width: 362px;
  height: 100%;
  max-width: 1000px;
}

.join {
  background-color: var(--clr-white);
  padding: 0 24px;
  border-radius: 5px 5px 0 0;
}

.join-text {
  color: var(--clr-grayish-blue);
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 24px;
  line-height: 26px;
}

.subscribe {
  background-color: var(--clr-cyan);
  padding: 0 24px;
}

.why {
  background-color: var(--clr-cyan-light);
  color: var(--clr-white);
  padding: 0 24px;
}

.subscribe-list {
  opacity: 0.75;
  padding-bottom: 24px;
}

button {
  margin-top: 26px;
  margin-bottom: 24px;
  background-color: var(--clr-bright-yellow);
  border: none;
  border-radius: 5px;
  color: var(--clr-white);
  height: 48px;
  width: 100%;
  box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: 2fr 1fr;
    width: 635px;
    height: 475px;
  }

  .join {
    grid-column: 1 / span 2;
  }
}
